@tailwind base;
@tailwind components;
@tailwind utilities;

/* Input Number Styling */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Other browsers */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Basic Card Styles */
.card {
  perspective: 1000px; /* Required for 3D effect */
  width: 300px; /* Adjust card width as needed */
  height:350px; /* Adjust Height as needed */
  cursor: grab;   /* Indicate card is grab-able */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out; /* Smoother transition on flip */
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Card Front Styling */
.front {
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 15px;  /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  z-index: 2; /* Ensure front is above back */
  overflow: hidden;
}

.front h3 {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.front p {
  font-size: 0.9rem;
  color: #555;
}

/* Card Back Styling */
.back {
  background-color: #fff; /* White background */
  transform: rotateY(180deg); /* Initially hidden */
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Text styles on the back of the card */
.back p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.back .font-semibold {
  font-weight: 600; /* Slightly bolder font for score and comments */
}

/* Link button style */
.back a {
  display: block; /* Make it take up full width */
  text-align: center;
  background-color: #007bff; /* Blue background */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back a:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.card-grid {
  display: flex; /* or grid */
  flex-wrap: wrap; /* or grid-template-columns if using grid */
  gap: 1rem; /* Adjust spacing as needed */
  justify-content: center; /* Optional: Center cards horizontally */
}


/* Skeleton Loading Styles */
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
